*{
padding: o;
margin: 0; 
border : 0;

}

body{
  
    background-color: lightblue;
    
  
}

.nav > ul  {
    position: absolute;
    display: block;
    left: 20%;
    top: 10%;
   
    
}
.nav > ul > li {
    display: inline;
    width: 20%;
    

}


.nav {
    position: relative;
    left: 30px;
   
    height: 15%;
  }
    .b1{
    position: absolute;
    size: 0ch;
    right: 20%;
    top: 20%;
  }
  .b2{
    position: absolute;
    size: 0ch;
    right: 30%;
    top: 20%;
  }
  div.headImage{
  position: relative;
  top: 50px;
  width: 100%;
  
  }
  .overFlowH1{
    position: absolute;
    left: 20%;
    top:20%

  }
  .overFlowP1{
    position: absolute;
    left: 22%;
    top:30%

  }

  div.moviesTypes{

    position: relative;
    top: 55px;
    height: 200pt;
    width: 100%;

    
  }
  .moviesTypes>*{
    position: absolute;

  }
.moviesTypes>img {
width: 120px;
height: 120px;
top: 30%;

}
.moviesTypes>section{
top: 80%;

}
.moviesTypes>h2{
text-transform: uppercase;
left: 30%;
}
div.titleOverImage{

  position: relative;
  top: 55px;
  height: 200pt;
  width: 100%;

  
}
.titleOverImage>*{
  position: absolute;
  
}
div.divArticle{

  position: relative;
  width: 100%;
  top: 55px;
  height: 400pt;
}
.divArticle>*{

display: block;
position: absolute;



}
.divTesti{
position: relative; 
top: 55px;
height: 300px;
width: 100%;
}
.divTesti>*{
  position:absolute;
  

}
.checked {
  color: orange;
}
.divBlog{
  position: relative;
  top: 55px;
  height: 300px;
  
  width: 100%;
  }
  .divBlog>*{
    position:absolute;
    display: block;
    
    
  
  }
  div{
    position: relative;
    width: 100%;
    height: 300px;

  
  }
  .divBlog>img{

    top: 100px;
  }
  .divNewLetter{
    position: relative;
    top: 55px;
    height: 80px;
    width: 100%;
    }


.divNewLetter>*{
  position: absolute;
}


.navFoot{
  position: relative;
  top: 55px;
  height: 80px;
  width: 100%;
  }



.navFoot>ul{
position: absolute;
    display: block;
    left: 20%;
    top: 10%;
}   
.navFoot>ul>li{

 display: inline;
    width: 20%;}
#select{
  position: absolute;
  top: 10pt;
  left: 80%;
}
.divForm > *{
  position: absolute;
}
.divForm{
  position: relative;
  top: 55px;
  height: 400px;
  width: 100%;
}
.divForm>img{
  
  left: 60%;
  width: 25%;
  top: 10%;
  size: 50%;
  
}
.divForm>form,.divForm>legend{
  top: 20%;
  left: 20pt;
}
.divForm #button{
  position: absolute;
  left: 30%;

}
.divTable{
  position: relative;
  top: 55px;
  height: 400px;
  width: 100%;
}
.divTable>table{
  position: absolute;
  left: 42%;
  top: 20%;
}
table, th, td {
border:  solid;
}
.divTable > h3{
position: absolute;
}

